services:
  db:
    image: postgres:18.1-alpine
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=chat
    ports:
      - '5433:5432'
    volumes: 
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d chat"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  db_data:
    driver: local