services:
  migrate:
    image: tudosm/chat:latest
    platform: linux/amd64
    command: goose -dir ./internal/migrations postgres "${GOOSE_DBSTRING}" up
    depends_on:
      db:
        condition: service_healthy
  app:
    image: tudosm/chat:latest
    platform: linux/amd64
    restart: always
    depends_on:
      db:
        condition: service_healthy
      migrate:
        condition: service_completed_successfully
    environment:
      - GOOSE_DBSTRING=${GOOSE_DBSTRING}
      - GOOSE_DRIVER=${GOOSE_DRIVER}
      - PORT=${PORT}
    ports:
      - '50052:50052'