name: CI/CD Pipeline

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  # 1. Run Tests (runs on both PRs and Pushes to main)
  test:
    uses: mihailtudos/actions/.github/workflows/go-ci.yml@v1.0.3
  deploy:
    needs: test
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    uses: mihailtudos/actions/.github/workflows/go-cd.yml@v1.0.3
    secrets: inherit