name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
    call-shared-pipeline:
        uses: mihailtudos/actions/.github/workflows/go-ci.yml@v1.0.2